.foodBox{
    padding: 10px 5px;
    margin-bottom: 30px;
}

#menuImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.foodBox h1{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

#buyBtn{
    color: #000;
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}
